In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [2]:

df = pd.DataFrame(data = {'id': ['393848', '30495'],
                         'text' : ['This is Gabanna. @RT Her human Jose rushed past firefighters into his burning home to rescue her. She suffered burns on her nose and paws, but will be just fine. The family lost everything else. You can help them rebuild below. 14/10 for both (via @KUSINews)',
                                  'Meet Milo. He’s a smiley boy who tore a ligament in his back left zoomer. The surgery to fix it went well, but he’s still at the hospital being monitored. He’s going to work very hard to fetch at full speed again, and you can help him do it below. 13/10']
                         })

In [3]:
df.head(1)

       id                                               text
0  393848  This is Gabanna. @RT Her human Jose rushed pas...

In [4]:
def tokenize(df): #return column with dicts
    def process_tokens(df): #return column with lists of tokens
        def process_reg(text): #return plain text
            return " ".join([i for i in re.sub(r'[^a-zA-Z\s]', "", str(text)).split()])
        df['tokens'] = [process_reg(text).split() for text in df['text']]
    return process_tokens(df)
tokenize(df)

In [5]:
df.head(1)

,id,text,tokens
0,393848,This is Gabanna. @RT Her human Jose rushed pas...,"[This, is, Gabanna, RT, Her, human, Jose, rush..."

In [6]:
def process(df): #return column with dicts
    def process_group(token): #convert list of tokens into dictionery
            return pd.DataFrame(token, columns=["term"]).groupby('term').size().to_dict()
    df['dic'] = [process_group(token) for token in df['tokens']]

In [7]:
process(df)

In [10]:
df.head(1)

,id,text,tokens,dic
0,393848,This is Gabanna. @RT Her human Jose rushed pas...,"[This, is, Gabanna, RT, Her, human, Jose, rush...","{'Gabanna': 1, 'Her': 1, 'Jose': 1, 'KUSINews'..."