In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [104]:

a = pd.DataFrame(data = {'id': ['393848', '30495'],
                         'text' : ['This is Gabanna. @RT Her human Jose rushed past firefighters into his burning home to rescue her. She suffered burns on her nose and paws, but will be just fine. The family lost everything else. You can help them rebuild below. 14/10 for both (via @KUSINews)',
                                  'Meet Milo. He’s a smiley boy who tore a ligament in his back left zoomer. The surgery to fix it went well, but he’s still at the hospital being monitored. He’s going to work very hard to fetch at full speed again, and you can help him do it below. 13/10']
                         })

In [105]:
a

       id                                               text
0  393848  This is Gabanna. @RT Her human Jose rushed pas...
1   30495  Meet Milo. He’s a smiley boy who tore a ligame...

In [4]:
#tokenize text - build a list out of terms in text
def preprocess_list(raw_text):
    
    return " ".join([i for i in re.sub(r'[^a-zA-Z\s]', "", raw_text).split()])

In [106]:
#create new column with lists of tokens of each text
a['list'] = [preprocess_list(raw_text).split() for raw_text in a['text']]

In [107]:
a

,id,text,list
0,393848,This is Gabanna. @RT Her human Jose rushed pas...,"[This, is, Gabanna, RT, Her, human, Jose, rush..."
1,30495,Meet Milo. He’s a smiley boy who tore a ligame...,"[Meet, Milo, Hes, a, smiley, boy, who, tore, a..."

In [44]:
#count frequency of each token in a list and create a dictionary 
#with a key as a token and value as its frequency
def preprocess_dic(list_tokens):
    return pd.DataFrame(list_tokens, columns=["term"]).groupby('term').size().to_dict()

In [41]:
#new column with dictionery of tokens
a['dic'] = [preprocess_dic(list_tokens) for list_tokens in a.list]

In [42]:
a

,id,txt,list,dic
0,393848,This is Gabanna. @RT Her human Jose rushed pas...,"[This, is, Gabanna, RT, Her, human, Jose, rush...","{'Gabanna': 1, 'Her': 1, 'Jose': 1, 'KUSINews'..."
1,30495,Meet Milo. He’s a smiley boy who tore a ligame...,"[Meet, Milo, Hes, a, smiley, boy, who, tore, a...","{'Hes': 2, 'Meet': 1, 'Milo': 1, 'The': 1, 'a'..."

In [94]:
#create df with id of text and an index equal to the number of terms in text
id_df = pd.DataFrame(index = range(len(a.dic[1])), columns = ['id']).fillna(a.id[1]);
#id_df

In [97]:
#create df with terms and its frequency
terms_df = pd.DataFrame.from_dict(a.dic[1], orient = 'index',columns = ['frequency']).reset_index().rename({'index':'term'}, axis = 1);
#terms_df

In [108]:
# concat two df
zz = pd.concat([id_df, terms_df], axis =1, sort = False)
zz

       id       term  frequency
0   30495        Hes          2
1   30495       Meet          1
2   30495       Milo          1
3   30495        The          1
4   30495          a          2
5   30495      again          1
6   30495        and          1
7   30495         at          2
8   30495       back          1
9   30495      being          1
10  30495      below          1
11  30495        boy          1
12  30495        but          1
13  30495        can          1
14  30495         do          1
15  30495      fetch          1
16  30495        fix          1
17  30495       full          1
18  30495      going          1
19  30495       hard          1
20  30495       help          1
21  30495        hes          1
22  30495        him          1
23  30495        his          1
24  30495   hospital          1
25  30495         in          1
26  30495         it          2
27  30495       left          1
28  30495   ligament          1
29  30495  monitored          1
30  30495     smiley          1
31  30495      speed          1
32  30495      still          1
33  30495    surgery          1
34  30495        the          1
35  30495         to          3
36  30495       tore          1
37  30495       very          1
38  30495       well          1
39  30495       went          1
40  30495        who          1
41  30495       work          1
42  30495        you          1
43  30495     zoomer          1