In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [12]:

df = pd.DataFrame(data = {'id': ['393848', '30495'],
                         'text' : ['This is Gabanna. @RT Her human Jose rushed past firefighters into his burning home to rescue her. She suffered burns on her nose and paws, but will be just fine. The family lost everything else. You can help them rebuild below. 14/10 for both (via @KUSINews)',
                                  'Meet Milo. The surgery to fix it went well, but he’s still at the hospital being monitored. He’s going to work very hard to fetch at full speed again, and you can help him do it below. 13/10']
                         })

In [13]:
df.head(1)

       id                                               text
0  393848  This is Gabanna. @RT Her human Jose rushed pas...

In [4]:
len(df.text[0]), len(df.text[1])

(258, 190)

In [14]:
def tokenize(df): #return column with dicts
    def process_tokens(df): #return column with lists of tokens
        def process_reg(text): #return plain text
            return " ".join([i for i in re.sub(r'[^a-zA-Z\s]', "", str(text)).split()])
        df['tokens'] = [process_reg(text).split() for text in df['text']]
    return process_tokens(df)

In [17]:
df.head(1)

,id,text,tokens
0,393848,This is Gabanna. @RT Her human Jose rushed pas...,"[This, is, Gabanna, RT, Her, human, Jose, rush..."

In [15]:
def process(df): #return column with dicts
    def process_group(token): #convert list of tokens into dictionery
            return pd.DataFrame(token, columns=["term"]).groupby('term').size().to_dict()
    df['dic'] = [process_group(token) for token in df['tokens']]

In [21]:
process(df)

In [22]:
df.head()

,id,text,tokens,dic
0,393848,This is Gabanna. @RT Her human Jose rushed pas...,"[This, is, Gabanna, RT, Her, human, Jose, rush...","{'Gabanna': 1, 'Her': 1, 'Jose': 1, 'KUSINews'..."
1,30495,"Meet Milo. The surgery to fix it went well, bu...","[Meet, Milo, The, surgery, to, fix, it, went, ...","{'Hes': 1, 'Meet': 1, 'Milo': 1, 'The': 1, 'ag..."

In [9]:
df['dic'].index

RangeIndex(start=0, stop=2, step=1)

In [49]:
#create df with id of text and an index equal to the number of terms in text

def id_df(df):
    def convert(df):
        return [pd.DataFrame(index = range(len(dic)), columns = ['id']).fillna('ok') for dic in df['dic']]
    id_d = convert(df)
    return id_d
pd.DataFrame(id_df(df))[0].dtype

dtype('O')

In [53]:
id_d

                                                   0
0      id
0   ok
1   ok
2   ok
3   ok
4   ok
5   ...
1      id
0   ok
1   ok
2   ok
3   ok
4   ok
5   ...

In [24]:
#create df with terms and its frequency
def terms_df(df):
    terms_df = [pd.DataFrame.from_dict(dic, orient = 'index', columns = ['frequency']).reset_index().rename({'index':'term'}, axis = 1) for dic in df.dic]
    return terms_d
terms_df(df);

In [25]:
# concat two df
zz = pd.concat([id_d, terms_d], axis =1, sort = False)
zz

TypeError: cannot concatenate object of type "<class 'function'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid