In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [2]:

a = pd.DataFrame(data = {'id': ['393848', '30495'],
                         'txt' : ['This is Gabanna. @RT Her human Jose rushed past firefighters into his burning home to rescue her. She suffered burns on her nose and paws, but will be just fine. The family lost everything else. You can help them rebuild below. 14/10 for both (via @KUSINews)',
                                  'Meet Milo. He’s a smiley boy who tore a ligament in his back left zoomer. The surgery to fix it went well, but he’s still at the hospital being monitored. He’s going to work very hard to fetch at full speed again, and you can help him do it below. 13/10']
                         })

In [3]:
a

       id                                                txt
0  393848  This is Gabanna. @RT Her human Jose rushed pas...
1   30495  Meet Milo. He’s a smiley boy who tore a ligame...

In [4]:

def preprocess(raw_text):
    
    return " ".join([i for i in re.sub(r'[^a-zA-Z\s]', "", 
                                       raw_text).lower().split()])

In [8]:
a['list'] = [preprocess(raw_text).split() for raw_text in a['txt']]

In [10]:
a

,id,txt,list
0,393848,This is Gabanna. @RT Her human Jose rushed pas...,"[this, is, gabanna, rt, her, human, jose, rush..."
1,30495,Meet Milo. He’s a smiley boy who tore a ligame...,"[meet, milo, hes, a, smiley, boy, who, tore, a..."