In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [2]:

a = pd.DataFrame(data = {'id': ['393848', '30495'],
                         'text' : ['This is Gabanna. @RT Her human Jose rushed past firefighters into his burning home to rescue her. She suffered burns on her nose and paws, but will be just fine. The family lost everything else. You can help them rebuild below. 14/10 for both (via @KUSINews)',
                                  'Meet Milo. He’s a smiley boy who tore a ligament in his back left zoomer. The surgery to fix it went well, but he’s still at the hospital being monitored. He’s going to work very hard to fetch at full speed again, and you can help him do it below. 13/10']
                         })

In [3]:
a

       id                                               text
0  393848  This is Gabanna. @RT Her human Jose rushed pas...
1   30495  Meet Milo. He’s a smiley boy who tore a ligame...

In [12]:
#tokenize text - build a list out of terms in text
def process(df):
    def process_dic(list):        
        def process_group(list):
            def process_list(text):
                def process_reg(text):
                    return " ".join([i for i in re.sub(r'[^a-zA-Z\s]', "", str(text)).split()])
            return df['list'] = [process_reg(text).split() for text in df['text']]
        return pd.DataFrame(list, columns=["term"]).groupby('term').size().to_dict()
    return df['dic'] = [process_group(list) for list in df['list']]

SyntaxError: invalid syntax (<ipython-input-12-ba9b98e4e54a>, line 8)

In [7]:
preprocess(a)

ValueError: DataFrame constructor not properly called!